.app-header {
    background-color:rgb(152, 179, 197);
    color: var(--gray3);
    padding-block: .75em;
    padding-right: 15px;;
}

.app-header section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.app-header .app-nav {
    display: flex;
    gap: 15px;
}

.app-header a.active {
    color: white;
    font-weight: 600;
    text-decoration: underline;
}